<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <img width="250" th:src="@{/static/img/logo.png}" style="margin: 30px"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">交易</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">

                    <label th:text="${session.userInfo.username}"></label>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">用户信息</a>
                    <a class="dropdown-item" href="/logout">退出</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="form-inline">
                <label class="col-sm-4 control-label">交易所</label>
                <select class="form-control col-sm-8" id="fdt001">
                    <option value="DCE">大连交易所</option>
                    <option value="SHFE">上海交易所</option>
                    <option value="CZCE">郑州交易所</option>
                    <option value="INE">上海国际能源交易中心</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">

            <div class="form-inline">
                <label class="col-sm-5 control-label">合约代码</label>
                <select class="form-control " id="agmtcd">
                    <option th:each="agmtcd:${#request.getAttribute('agmtcd')}" th:value="${agmtcd}"
                            th:text="${agmtcd}"></option>

                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-inline">
                <label class="col-sm-5 control-label">交易品种</label>
                <select class="form-control" id="trdvar">
                    <option th:each="trdvar:${#request.getAttribute('trdvar')}" th:value="${trdvar}"
                            th:text="${trdvar}"></option>

                </select>
            </div>
        </div>
        <button type="button" onclick="searchTrading()" class="btn btn-success">查询</button>
    </div>


    <div class="row">


        <div class="col">

        </div>

    </div>
</div>
<div id="container" style="height: 800px;padding: 50px"></div>
</body>
<script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/js/popper.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/echarts.min.js}"></script>
<script type="text/javascript">
    function searchTrading() {
        var fdt001 = $('#fdt001').val();
        var trdvar = $('#trdvar').val();
        var agmtcd = $('#agmtcd').val();

        $.ajax({
            type: "get",
            url: '/trading/select',
            data: {fdt001: fdt001, trdvar: trdvar, agmtcd: agmtcd},
            dataType: 'JSON',
            cache: 'false',
            async: 'false',
            success: function (data) {
                var data0 = splitData(data);
                var dom = document.getElementById("container");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;
                var upColor = '#ec0000';
                var upBorderColor = '#8A0000';
                var downColor = '#00da3c';
                var downBorderColor = '#008F28';


                // 数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)
                /* var data0 = splitData([
                     ['2013/1/24', 2320.26, 2320.26, 2287.3, 2362.94],
                     ['2013/6/13', 2190.1, 2148.35, 2126.22, 2190.1]
                 ]);*/


                function splitData(rawData) {
                    var categoryData = [];
                    var values = []
                    for (var i = 0; i < rawData.length; i++) {
                        categoryData.push(rawData[i].splice(0, 1)[0]);
                        values.push(rawData[i])
                    }
                    return {
                        categoryData: categoryData,
                        values: values
                    };
                }

                function Fdt007() {
                    var result = [];
                    for (var i = 0, len = data0.values.length; i < len; i++) {

                        result.push(data0.values[i][4]);
                    }
                    return result;
                }

                function Fdt010() {
                    var result = [];
                    for (var i = 0, len = data0.values.length; i < len; i++) {

                        result.push(data0.values[i][5]);
                    }
                    return result;
                }

                function Fdt011() {
                    var result = [];
                    for (var i = 0, len = data0.values.length; i < len; i++) {

                        result.push(data0.values[i][6]);
                    }
                    return result;
                }

                function Fdt013() {
                    var result = [];
                    for (var i = 0, len = data0.values.length; i < len; i++) {

                        result.push(data0.values[i][7]);
                    }
                    return result;
                }

                option = {
                    title: {
                        text: '上证指数',
                        left: 0
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    legend: {
                        data: ['日K', '日结算价', '成交量', '持仓量', '成交金额']
                    },
                    grid: {
                        left: '10%',
                        right: '10%',
                        bottom: '15%'
                    },
                    xAxis: {
                        type: 'category',
                        data: data0.categoryData,
                        scale: true,
                        boundaryGap: false,
                        axisLine: {onZero: false},
                        splitLine: {show: false},
                        splitNumber: 20,
                        min: 'dataMin',
                        max: 'dataMax'
                    },
                    yAxis: {
                        scale: true,
                        splitArea: {
                            show: true
                        }
                    },
                    dataZoom: [
                        {
                            type: 'inside',
                            start: 50,
                            end: 100
                        },
                        {
                            show: true,
                            type: 'slider',
                            y: '90%',
                            start: 50,
                            end: 100
                        }
                    ],
                    series: [
                        {
                            name: '日K',
                            type: 'candlestick',
                            data: data0.values,
                            itemStyle: {
                                normal: {
                                    color: upColor,
                                    color0: downColor,
                                    borderColor: upBorderColor,
                                    borderColor0: downBorderColor
                                }
                            },
                            markPoint: {
                                label: {
                                    normal: {
                                        formatter: function (param) {
                                            return param != null ? Math.round(param.value) : '';
                                        }
                                    }
                                },
                                data: [
                                    {
                                        name: 'XX标点',
                                        coord: ['2013/5/31', 2300],
                                        value: 2300,
                                        itemStyle: {
                                            normal: {color: 'rgb(41,60,85)'}
                                        }
                                    },
                                    {
                                        name: 'highest value',
                                        type: 'max',
                                        valueDim: 'highest'
                                    },
                                    {
                                        name: 'lowest value',
                                        type: 'min',
                                        valueDim: 'lowest'
                                    },
                                    {
                                        name: 'average value on close',
                                        type: 'average',
                                        valueDim: 'close'
                                    }
                                ],
                                tooltip: {
                                    formatter: function (param) {
                                        return param.name + '<br>' + (param.data.coord || '');
                                    }
                                }
                            },
                            markLine: {
                                symbol: ['none', 'none'],
                                data: [
                                    [
                                        {
                                            name: 'from lowest to highest',
                                            type: 'min',
                                            valueDim: 'lowest',
                                            symbol: 'circle',
                                            symbolSize: 10,
                                            label: {
                                                normal: {show: false},
                                                emphasis: {show: false}
                                            }
                                        },
                                        {
                                            type: 'max',
                                            valueDim: 'highest',
                                            symbol: 'circle',
                                            symbolSize: 10,
                                            label: {
                                                normal: {show: false},
                                                emphasis: {show: false}
                                            }
                                        }
                                    ],
                                    {
                                        name: 'min line on close',
                                        type: 'min',
                                        valueDim: 'close'
                                    },
                                    {
                                        name: 'max line on close',
                                        type: 'max',
                                        valueDim: 'close'
                                    }
                                ]
                            }
                        },
                        {
                            name: '日结算价',
                            type: 'line',
                            data: Fdt007(),
                            smooth: true,
                            lineStyle: {
                                normal: {opacity: 0.5}
                            }
                        },
                        {
                            name: '成交量',
                            type: 'line',
                            data: Fdt010(),
                            smooth: true,
                            lineStyle: {
                                normal: {opacity: 0.5}
                            }
                        },
                        {
                            name: '持仓量',
                            type: 'line',
                            data: Fdt011(),
                            smooth: true,
                            lineStyle: {
                                normal: {opacity: 0.5}
                            }
                        },
                        {
                            name: '成交金额',
                            type: 'line',
                            data: Fdt013(),
                            smooth: true,
                            lineStyle: {
                                normal: {opacity: 0.5}
                            }
                        },

                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('失败' + textStatus + XMLHttpRequest.status + errorThrown)
            }
        });

    }


</script>
</html>