<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
</head>
<body>
<img width="550" th:src="@{/static/img/logo.png}" style="margin: 30px"/>
<div class="container">

    <div class="row">


        <div class="col">

        </div>
        <div class="col-md-5" style="margin-top: 10%;">

            <form class="modal-content" style="padding: 30px">
                <h5 style="text-align: center">用户登录</h5>
                <br>
                <div class="form-inline">
                    <label for="username">账号：</label>
                    <input type="username" class="form-control col-md-10" id="username" placeholder="请输入用户名">
                </div>
                <br>
                <div class="form-inline">
                    <label for="password">密码：</label>
                    <input type="password" class="form-control col-md-10" id="password" placeholder="请输入密码">
                </div>
                <br>

                <button type="button" class="btn btn-primary" onClick="login()">登录</button>
                <br>
                <button type="button" onclick="javascript:location.href='/register'" class="btn btn-primary">注册</button>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<div th:include="common/modal"></div>
</body>
<script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/js/popper.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script>
    function login() {
        var username = $("#username").val();
        var password = $("#password").val();
        debugger
        if (username == '' || password == '') {
            $("#msg").text("用户名或密码不能为空！")
            $("#myModal").modal("toggle")
            return
        }
        $.ajax({
            type: "POST",
            url: "/user/login",
            data: {username: username, password: password},
            dataType: 'TEXT',
            cache: 'false',
            async: 'false',
            success: function (data) {
                console.log(data)
                if (data == 'unknownUser') {
                    $("#msg").text("用户不存在")
                    $("#myModal").modal("toggle")
                } else if (data == 'validationError') {
                    $("#msg").text("用户名或密码不正确")
                    $("#myModal").modal("toggle")
                } else {
                    window.location.href = "/index"
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('失败' + textStatus + XMLHttpRequest.status + errorThrown)
            }
        });
    }
</script>
</html>