<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
</head>
<body>
<div th:include="common/nav"></div>
<div class="container">
    <h3 class="text-center">用户信息</h3>
    <div class="row">


        <div class="col">

        </div>
        <div class="col-md-5" style="margin-top: 10%;">

            <form>
                <div class="form-group row">
                    <label for="username" class="col-sm-3 col-form-label">用户名：</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext" id="username"
                               th:value="${session.userInfo.username}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">密码：</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password"
                               th:value="${session.userInfo.password}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tel" class="col-sm-3 col-form-label">手机号：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="tel" th:value="${session.userInfo.tel}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-3 col-form-label">邮箱：</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" th:value="${session.userInfo.email}">
                    </div>
                </div>
                <button type="button" onclick="update()" class="btn btn-primary">更新</button>
            </form>

        </div>
        <div class="col">
        </div>
    </div>
</div>
<span th:text="${session.userInfo.id}" id="userId" hidden></span>
<span th:text="${session.userInfo.tel}" id="myTel" hidden></span>
<span th:text="${session.userInfo.email}" id="myEmail" hidden></span>
<div th:include="common/modal"></div>
<div class="modal fade" tabindex="-1" role="dialog" id="updateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="msg">更新成功！</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        onclick="window.location.href='/logout'">确定
                </button>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/js/popper.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script>
    function update() {
        debugger
        var myTel = $("#myTel").text();
        var myEmail = $("#myEmail").text();

        var username = $("#username").val();
        var email = $("#email").val();
        var tel = $("#tel").val();
        var password = $("#password").val();
        var check=0;
        if (username == '' || email == '' || tel == '' || password == '') {

            $("#msg").text("不能有空的值！")
            $("#myModal").modal("toggle")
            return
        }
        if (email != '' && email != myEmail) {
            $.ajax({
                type: "POST",
                url: '/user/checkEmail',
                data: {email: email},
                dataType: 'TEXT',
                cache: false,
                async: false,
                success: function (data) {
                    debugger
                    console.log(data)
                    if (data == 'true') {
                        $("#msg").text("邮箱已被绑定")
                        $("#myModal").modal("toggle")
                        check=1;
                    } else {

                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('失败' + textStatus + XMLHttpRequest.status + errorThrown)
                }
            });
        }
        if (tel != '' && tel != myTel) {
            $.ajax({
                type: "POST",
                url: '/user/checkTel',
                data: {tel: tel},
                dataType: 'TEXT',
                cache: false,
                async: false,
                success: function (data) {
                    debugger
                    console.log(data)
                    if (data == 'true') {
                        $("#msg").text("手机号已被绑定")
                        $("#myModal").modal("toggle")
                        check=1;
                    } else {

                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('失败' + textStatus + XMLHttpRequest.status + errorThrown)
                }
            });


        }
        if(check==0){
            confirmRegister(username, password, email, tel);
        }

    }

    function confirmRegister(username, password, email, tel) {
        $.ajax({
            type: "POST",
            url: '/user/update',
            data: {username: username, password: password, email: email, tel: tel, id: $("#userId").text()},
            dataType: 'TEXT',
            cache: false,
            async: false,
            success: function (data) {
                if (data == 'true') {
                    $("#msg").text("更新成功！")
                    $("#updateModal").modal("toggle")
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('失败' + textStatus + XMLHttpRequest.status + errorThrown)
            }
        });
    }

</script>
</html>